{% extends 'base.html' %}

{% block cardhead %}
    {% include 'wenjian/html/cardclientrole.html' %}
{% endblock %}

{% block content %}
    <br />
    <h4>CLIENT ROLES</h4>
    <br />
    <form action="" method="post">
        {% csrf_token %}

        {% for ar in all_role %}
            {% if forloop.counter0|divisibleby:'3' %}
                <div class="form-group row">
            {% endif %}
            <div class="col-sm">
            {% if ar.id in client_role %}
                <input type="checkbox" name="role_select" value= '{{ ar.id }}' checked />
            {% else %}
                <input type="checkbox" name="role_select" value= '{{ ar.id }}'/>
            {% endif %}
            <label>{{ ar.role }}</label>
            </div>
            {% if forloop.counter|divisibleby:'3' %}
                </div>
            {% endif %}  
        {% endfor %}

        {% if c %}
            {% for count in c %}
                <div class="col-sm"></div>
            {% endfor %}
            </div>
        {% endif %}

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-outline-primary btn-sm">SUBMIT</button>
            </div>
        </div>
    </form>
{% endblock %}