{% extends 'base.html' %}

{% block cardhead %}
    {% include 'wenjian/html/containerbase.html' %}
{% endblock %}

{% block content %}
    <br />
    <h4>CONTAINER</h4>
    <br />

    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
            {% if forloop.first or forloop.last %}
            {% else %}
            <div class="form-group row">
                {{ field.error }}
                <label class="col-form-label col-sm-2">{{ field.label_tag }}</label>
                <div class='col-sm-10'>{{ field }}</div> 
            </div>
            {% endif %}
        {% endfor %}
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-outline-primary btn-sm">SUBMIT</button>
            </div>
        </div>
    </form>

{% endblock %}