{% extends 'base.html' %}

{% block cardhead %}
    {% include 'wenjian/html/carduser.html' %}
{% endblock %}

{% block content %}
    <br />
    <h5>CHANGE PASSWORD</h5>
    <br />

    <form method="POST" action="">
        {% csrf_token %}
        </br>
        <div class="form-group col">
            <small>
                <div class="col-form-label col-sm-10">
                    <p>PLEASE INPUT NEW PASSWORD TWICE TIMES BELOW</p>
                </div>
            </small>
        </div>
        <div class="form-group col">
            <label class="col-form-label col-sm-2">NEW PASSWORD</label>
            <div class='col-sm-10'>
                <input type="password", name="new_password_1" class="form-control" />
            </div> 
        </div>
        <div class="form-group col">
            <label class="col-form-label col-sm-10">NEW PASSWORD AGAIN</label>
            <div class='col-sm-10'>
                <input type="password", name="new_password_2" class="form-control" />
            </div> 
        </div>            
        <div class="form-group col">
            <small style="color: red;">
                <div class="col-form-label col-sm-10">
                    <p>{{ msg }}</p>
                </div>
            </small>
        </div>
        <div class="form-group col">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-outline-primary btn-sm">SUBMIT</button>
            </div>
        </div>

    </form>
{% endblock %}