<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'containersizelist' %}">CONTAINER SIZE</a>
        </li>                
        <li class="nav-item">
            <a class="nav-link" href="{% url 'currencylist' %}">CURRENCY</a>
        </li>
        <li class="nav-item">
                <a class="nav-link active" href="{% url 'expenselist' %}">EXPENSE</a>
            </li>        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'portlist' %}">PORT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'rolelist' %}">ROLE</a>
        </li>
    </ul>
</div>