{% extends 'simon/base.html' %}

{% block content %}
<br />
<div style="width: 50%; float: left">
    <h5>ANNUAL PAYEE PAYMENT</h5>
</div>
<div style="width: 30%; float: left">
    <p>PAYEE : <span class="text-light bg-secondary">{{ payee_id }}</span></p>
</div>
<div>
    <ul class="nav" style="float: right">
        <li class="nav-item">
            <a class="btn btn-outline-secondary btn-sm" href = "{% url 'chaxun' year_id %}" role="botton">BACK TO LIST</a>
        </li>
    </ul>
</div>

<table class="table table-hover table-sm">
    <tr class="table-active">
        <th class='text-right' width="100px">MONTHS</th>
        {% for th in table_head %}
            <th class='text-right'>{{th}}</th>
        {% endfor %}
        <th class='text-right' width="100px">TOTALS</th>
    </tr>

    {% for record in table_content %}
        <tr class="{% cycle 'row1' 'row2' 'table-secondary' %}">
            {% for i in record %}
            {% if forloop.last %}
                <td class = "font-weight-bold text-right">
            {% else %}
                <td class='text-right'>
            {% endif %}
                {{ i }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}